$primary-color: #222;
$secondary-color: #bbb;

.card {
	margin-top: 100px;
	
	justify-content: space-around;
	#shoe-img {
		margin: auto;
		display: block;
	}
	.card-text {
		color: white;
	}
}

p {
	margin-top: 10px;
	color: $secondary-color;
}
.row {
	display: flex;
}

.row[class^="col-"] {
	display: flex;
	flex-direction: row;
}
.card-img{
	background-color:white;
}
.text-card {
	background-color: black;
}

