$primary-color: #222;
$secondary-color: #bbb;
$red-color: #ed1c24;
$font-main: 'Nunito', sans-serif;

body {
  background-color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;
  color: $secondary-color;
}
nav {
  border-bottom: $secondary-color solid 0.5px;
}

#nav__brand__logo {
  line-height: 1.3rem;
  font-size: 60px;
  font-weight: bold;
  font-family: $font-main;
  color: #fff;
  background: $red-color;
  text-align: center;
  margin: 8px;
  padding: 2px;
}

.bg__img {
  background-image: url(../assets/cement.jpg);
  background-size: no-repeat;
  background-position: fixed;
  height: 200px;
}
#red__description {
  font-size: 20px;
  font-weight: bold;
  font-family: $font-main;
  color: #fff;
  background: $red-color;
  text-align: center;
  padding: 5px;
  width: 15em;
  height: 2.5em;
  position: absolute;
  left: 3px;
  bottom: -10px;
  z-index: 1;
  @media only screen and (max-width: 991px) {
    font-size: 12px;
    padding: 0.5px;
    width: 14em;
    height: 2.8em;
    position: absolute;
    left: 3px;
    bottom: -2px;
    z-index: 1;
  }
}

a:hover {
  text-decoration: none;
  color: $secondary-color;
}
a {
  color: white;
}

#featured__stories {
  h2 {
    padding-top: 30px;
    &:before {
      content: '- ';
    }
    &:after {
      content: ' -';
    }
  }
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(../assets/featured_stores.jpg);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;

  color: white;
  .card {
    background: transparent;
    p {
      color: white;
    }
  }
}

#header__rock {
  line-height: 1.3rem;
  font-size: 60px;
  font-weight: bold;
  font-family: $font-main;
  color: #fff;
  background: $red-color;
  margin: 10px;
  padding: 10px;
  position: relative;
  top: 60px;
  @media only screen and (max-width: 991px) {
    h1 {
      font-size: 22px;
      padding: 0 6px;
    }
  }
}

#header__quote {
  line-height: 1.3rem;
  font-size: 40px;
  font-weight: bold;
  font-family: $font-main;
  color: #fff;
  background: $red-color;
  margin: 10px;
  padding: 10px;
  position: relative;
}

#sick__picks {
  height: 60vh;
  color: white;
  h2 {
    padding-top: 30px;
    &:before {
      content: '- ';
    }
    &:after {
      content: ' -';
    }
  }
  @media only screen and (max-width: 991px) {
    height: 40vh;
  }
  @media only screen and (max-width: 777px) {
    height: 35vh;
  }
}

.red_small {
  font-size: 14px;
  font-weight: bold;
  font-family: $font-main;
  color: #fff;
  background: $red-color;
  text-align: center;
  padding: 5px;
  width: 15em;
  height: 2.5em;
  position: absolute;
  left: 3px;
  bottom: -10px;
  z-index: 1;
  @media only screen and (max-width: 991px) {
    font-size: 12px;
    padding: 10px;
    width: 10em;
    height: 2.8em;
    position: absolute;
    left: 3px;
    bottom: -2px;
    z-index: 1;
  }
}
